.popup{
    background-color: rgb(191, 191, 240);
    width:48% !important;
    top:20%;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
.close{
    width: 70px;
    height: 30px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}