.container{
    margin-left: 5px;
    background-color:rgba(242, 202, 202, 0.49);
    height:auto;
    border-radius: 5px;
    /* display:flex;
    justify-content: center;
    align-items: center; */
    
}

.line1{
    height:1px;
    background: black;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.content{
    margin-left:5px;
    font-family: cursive;
    font-weight: bold;
    
}